#big files and media, etc. Oh also a bunch of good jokes are here.
/dog
/libs
/html/awoo
/html/daniel
/html/date
/html/dontgohere
/html/fbla
/html/freevirus
/html/gay
/html/givememalware
/html/owo.html
/html/porn
/html/pranked
/html/secret
/html/thisdoesntexist
/html/water
/html/whyareyoureadingthis
/share
/subonly
#external libraries
/html/gold/braintree-php-3.39.0
#important
*.ini
# not-code files
*.app
*.cur
*.exe
*.gif
*.hex
*.i*86
*.ico
*.iso
*.jar
*.jpeg
*.jpg
*.mp4
*.ogg
*.out
*.png
*.pdf
*.unityweb
*.x86_64
*.server
*.sh
*.svg
*.zip

