#big files and media, etc. Oh also a bunch of good jokes are here.
/21
video-js*
videojs*
leaflet*
/69
/420
/dog
/libs
/html/awoo
/html/daniel
/html/date
/html/dontgohere
/html/fanfiction
/html/fanfic
/html/gay
/html/gold/braintree-php-3.39.0
/html/givememalware
/html/owo.html
/html/porn
/html/pranked
/html/secret
/html/themesongs
/html/thisdoesntexist
/html/water
/html/whyareyoureadingthis
/share
/subonly
# not-code files
*.app
*.apk
*.cur
*.exe
*.gif
*.hex
*.i*86
*.ico
*.ini
*.inf
*.iml
*.iso
*.jar
*.jpeg
*.jpg
*.msc
*.min.js
*.mp3
*.mp4
*.odp
*.ogg
*.out
*.png
*.pdf
*.unityweb
*.x86_64
*.server
*.sh
*.svg
*.xml
*.xz
*.zip

