#big files and media, etc. Oh also a bunch of good jokes are here.
/21
21
video-js
videojs
/69
/420
/dog
/libs
/html/awoo
/html/daniel
/html/date
/html/dontgohere
/html/fbla
/html/fanfiction
/html/fanfic
/html/gay
/html/givememalware
/html/owo.html
/html/porn
/html/pranked
/html/secret
/html/thisdoesntexist
/html/water
/html/whyareyoureadingthis
/share
/subonly
#external libraries
/html/gold/braintree-php-3.39.0
#important
*.ini
# not-code files
*.app
*.apk
*.cur
*.exe
*.gif
*.hex
*.i*86
*.ico
*.iso
*.jar
*.jpeg
*.jpg
*.mp3
*.mp4
*.odp
*.ogg
*.out
*.png
*.pdf
*.unityweb
*.x86_64
*.server
*.sh
*.svg
*.xz
*.zip

